PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nextask
DB_USER=nextask_app
DB_PASSWORD=1ejercito

FRONTEND_URL=http://localhost:5173

JWT_SECRET=Iu1@perEtasUcM
JWT_EXPIRES_IN=1h